################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Winfrom探照灯/.vs/Spotlight/v14/.suo
